{%extends 'base.html' %}

{% block content %}

<div class="d-flex justify-content-around" >

  {% for cat in category %}

  <a class="btn btn-light mt-2" href="{% url 'filter_job' cat.id %}"> {{cat.name}} </a>
  
  {% endfor %}

</div>

<div class="m-auto p-3 w-50" >

    {%for job in job_list %}

    <div class="card">
        <div class="card-header">
          
        </div>
        <div class="card-body">
          <h5 class="card-title">{{job.title}}</h5>
          <p class="card-text">{{job.description}} content.</p>
          <button class='btn btn-light'>{{job.category}}</button> <br> <br>
          <a href="{% url 'job_details' job.id %}" class="btn btn-primary">See Details</a>
        </div>
      </div>

    {% endfor %}

</div>


{% endblock  %}