{% extends "base.html" %}

{% load crispy_forms_tags %}

{%block content%}

{% comment %} <h3 class="m-auto align-items-center">Register as Employer</h3> {% endcomment %}

{% if type == 'employer' %}

<div class="m-auto mt-4 text-center"><h1>{{purpose}} as An Employer</h1><br>
    {% if purpose == 'Sign Up' %}
    <small class="text-danger" >Please fill out the information carefully. Changing the info later would cause some hassle. </small>

    {% endif %}</div>

{% else %}

<div class="m-auto mt-4 p-4 pb-3 text-center"><h1>{{purpose}} as a Job Candidate</h1>
    {% if purpose == 'Sign Up' %}
    <small class="text-danger" >Please fill out the information carefully. Changing the info later would cause some hassle. </small>

    {% endif %}
</div>
{% endif %}

<form method='POST' action="" class="w-50 m-auto align-center">
    {% csrf_token %}
     
    {{form | crispy}}

    <button class="btn btn-warning" type="submit ">Submit</button>

</form>

{% endblock %}