{% extends 'empbrowse.html' %}

{% block content %}

<div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> <div class="card p-4 w-25 bg-danger-subtle"> <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn btn-secondary"> <img src="https://static.vecteezy.com/system/resources/previews/020/911/740/non_2x/user-profile-icon-profile-avatar-user-icon-male-icon-face-icon-profile-icon-free-png.png" height="100" width="100" /></button> <span class="name mt-3">{{request.user.first_name}} {{request.user.last_name}}</span>
     <span class="idd">@{{request.user.username}}</span> <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
        <span class="idd1">{{request.user.employer.designation}} at {{request.user.employer.company_name}}</span> <span><i class="fa fa-copy"></i></span> </div>
         <div class="text mt-3">  </div> <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div> <div class=" px-2 rounded mt-4 date "> <span class="join align-items-center">Mainly deals in the {{request.user.employer.industry}} industry</span> </div> </div> <br> <br>
         <div class=" d-flex mt-2"> <a href="{% url 'edit_profile' %}" class="btn btn-dark">Edit Profile</a> </div> </div>
</div>

{% endblock  %}